@model Marketplace.Models.Kategori

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kategori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ikon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ikon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KategoriId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
